$toast-border-radius: 14px !default;

$toast-padding-x: 1rem !default;
$toast-padding-y: 0.5rem !default;
$toast-padding: $toast-padding-y $toast-padding-x !default;

$toast-space-between: 0.5rem !default;
