@use "sass:color";

.btn{
    @each $color, $value in $theme-colors {
        &.btn-#{$color}:not(.active){
            &.push-button{
                border-bottom-width: 5px;
                border-bottom-color: color.scale($color: $value, $blackness: 35%);
            }
        }
    }

    &.active{
        &, &:focus{
            box-shadow: inset 0 0 10px rgba($dark, .65) !important;
        }
    }

    &.position-btn{
        width: 132px;
        border-radius: 0;
    }
}
