@use "sass:math";
@use "sass:color";
@use "../v-notify-vars" as *;

.toast-container{
    margin-top: math.div($toast-space-between, -2);
    margin-bottom: math.div($toast-space-between, -2);
}

.v-notify-toast{
    border-radius: $toast-border-radius;
    padding: $toast-padding;
    border: 1px solid;

    @at-root &-outer{
        padding-top: math.div($toast-space-between, 2);
        padding-bottom: math.div($toast-space-between, 2);
    }

    @each $color-name, $color in $theme-colors {
        $darker: color.adjust($color: $color, $lightness: 3%);
        &.#{$color-name}{
            border-color: $color;
            background-color: $darker;
            color: map-get($map: $context-text-color, $key: $color-name );

        }
    }

}
